<%- include('../partials/header') %>

<div class="background-sm background">
    <div class="container mt-5">
        <div class="row pt-5">
            <div class="col-md-6 pl-md-5 pr-md-5 pb-md-4 pt-md-4 p-sm-2 bg-light m-auto rounded">
                <h2 class="mb-3 text-center">Update </h2>
                <form action="http://localhost:3000/players/<%= player._id %>?" method="POST" autocomplete="off">
                    <div class="form-group">
                        <label for="name">Player Name</label>
                        <input name="player[name]" value="<%= player.name %>" type="text" class="form-control" id="nama"
                            placeholder="Player Name" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input name="player[age]" value="<%= player.age %>" type="number" class="form-control"
                            id="deskripsi" placeholder="Age" required>
                    </div>
                    <div class="form-group">
                        <label for="image">Image URL</label>
                        <input name="player[image]" value="<%= player.image %>" type="text" class="form-control"
                            id="image" placeholder="https://www.image.com/img.jpg" required>
                    </div>
                    <div class="form-group">
                        <label for="harga">Playing Position</label>
                        <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect04" name="player[position]">
                                <option selected><%= player.position %></option>
                                <option value="Point Guard">Point Guard</option>
                                <option value="Shooting Guard">Shooting Guard</option>
                                <option value="Shooting Guard">Center</option>
                                <option value="Small Forward">Small Forward</option>
                                <option value="Power Forward">Power Forward</option>
                            </select>
                            <div class="input-group-append">
                            </div>
                            </div>
                        <!-- <input name="player[position]" value="" type="text" class="form-control"
                            id="harga" placeholder="Playing Position" required> -->
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Update Player</button>
                        <a href="../../" class="btn btn-danger btn-block" style="text-decoration: none;">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>